#float-whatsapp{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    text-align: right;
    #float-whatsapp-img{
        width: 40px;
        height: 40px;
    }
}

.fb_dialog.fb_customer_chat_bubble_animated_no_badge{
    transform: scale(0.67);
    bottom: 80px !important;
    right: 21px !important;
}

// .et_b_header-cart.et-off-canvas .woocommerce-mini-cart__footer-wrapper,
// .et_b_mobile-panel-cart .woocommerce-mini-cart__footer-wrapper,
// .et-mini-content .woocommerce-mini-cart__footer-wrapper
// {
//     padding-bottom: 60px;
// }