.header-main-wrapper.sticky.sticky-on{
    .header-main-menu.et_element-top-level .menu > li > a:hover, .header-main-menu.et_element-top-level .menu > .current-menu-item > a, .header-main-menu.et_element-top-level.menu-items-custom .menu > li > a:hover, .header-main-menu.et_element-top-level.menu-items-custom .menu > .current-menu-item > a{
        color: $complementary-color !important;
    }
    
    .header-main-menu.et_element-top-level .menu > li > a::before, .header-main-menu.et_element-top-level .menu > .current-menu-item > a::before{
        background-color: $complementary-color !important;
    }
}

#menu-lineas-de-productos-1{
    li.menu-item{
        a.item-link.type-img{
            display: block;
            padding-left: 0.5em;
            img{
                height: 1.5em;
                width: auto;
                position: absolute;
                left: -1.75em;
                top: 0.65em;
            }
        }
    }
}