$main-color: rgba(0,122,51,1);
$secondary-color: rgba(0,159,77,1);
$complementary-color: rgba(196,214,0,1);

$main-color: #007a33;
$secondary-color: #009f4d;
$complementary-color: #c4d600;

// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);